*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;  
}

#fundo{
    position: relative;
    width: 850px;
    height: 1000px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

#azul{
    position: relative;
    width: 150px;
    height: 100px;
    background-color: blue;
    color: black;
    text-align: center;
    float: left;
}

#vermelha{
    position: relative;
    width: 700px;
    height: 100px;
    background-color: red;
    color: black;
    text-align: center;
    float: left;
}

#verde{
    position: relative;
    width: 850px;
    height: 50px;
    background-color: #0F0;
    color: black;
    text-align: center;
    clear: left;
}

#amarela{
    position: relative;
    width: 850px;
    height: 400px;
    background-color: yellow;
    border: 10px solid red;
    color: black;
    text-align: center;
    clear: left;
}

#cinza{
    position: relative;
    width: 850px;
    height: 50px;
    background-color: rgb(90, 90, 90);
    color: black;
    text-align: center;
    clear: left;
}