#azul{
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    top: 10px;
    left: 300px;
    z-index: 1;
}

#vermelha{
    position: absolute;
    width: 800px;
    height: 100px;
    background-color: red;
    color: white;
    text-align: center;
    top: 10px;
    left: 500px;
    z-index: 1;
}

#verde{
    position: absolute;
    width: 1000px;
    height: 50px;
    background-color: #0F0;
    color: black;
    text-align: center;
    top: 110px;
    left: 300px;
    z-index: 1;
}

#amarela{
    position: absolute;
    width: 980px;
    height: 400px;
    background-color: yellow;
    border: 10px solid red;
    color: black;
    text-align: center;
    top: 160px;
    left: 300px;
    z-index: 1;
}

#cinza{
    position: absolute;
    width: 1000px;
    height: 75px;
    background-color: rgb(90, 90, 90);
    color: white;
    text-align: center;
    top: 579px;
    left: 300px;
    z-index: 1;
}